<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        求人一覧
      </h1>
      <h1>仕事検索</h1>
      <%= search_form_for @q, url: search_jobs_path do |f| %>
      <div class="navbar-left">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <%= f.search_field :title_cont ,class: 'input'%>
            </div>
            <div class="control">
              <%= f.submit '検索', class: 'button is-info' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @jobs.each do |job| %>
        <div class="column is-4">
          <div class="card">
            <div class="title">
              <%= link_to job_path(job) do %>
                <div class="job-title"><%= job.title %></div>
              <% end %>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">

                </div>
                <div class="media-content">
                投稿者
                  <div class="username"><%=link_to job.user.username, user_path(job.user) %></div>
                </div>
              </div>

              <div class="content">
                <time><%= job.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @jobs %>
    </div>
  </div>
</section>