%section.hero.is-success
  .hero-body
    .container
      %h1.title
        求人詳細
%section.section
  .container
    .columns.is-centered
      .column.is-7
        .card
          .card-image
          .card-content
            .media
              .media-content
                %p.title.is-4= @job.title
                
            .content
              %table.table.is-narrow
                %tr
                  %th 求人情報
                  = @job.user.username
                %tr
                  %td= simple_format @job.body
                  -if user_signed_in? && current_user.id == @job.user_id
                    = link_to "編集画面へ", edit_job_path(@job), class: "button is-success"
                  
      -# .title= link_to user.username, user_path(user)
      -# .column.is-4
      -#   %article.panel.is-link
      -#     %p.panel-heading
      -#       By #{@job.user.username}
      -#     .panel-block
      -#       %p.control
      -#         = @job.user.profile
      -#     = link_to user_path(@job.user), class: "panel-block" do
      -#       %span.panel-icon
      -#         %i.fas.fa-user{"aria-hidden" => "true"}
      -#       = @job.user.username
      -#       さんのページへ
