<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        企業一覧
      </h1>
      <h1>企業検索</h1>
      <%= search_form_for @q, url: search_users_path do |f| %>
      <div class="navbar-left">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <%= f.search_field :username_cont ,class: 'input'%>
            </div>
            <div class="control">
              <%= f.submit '検索', class: 'button is-info' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to user.username, user_path(user) %></div>
                </div>
              </div>
              <div class="content">
                投稿数：<%= user.jobs.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @jobs %>
    </div>
  </div>
</section>
