%section.hero.is-success
  .hero-body
    .container
      %h1.title
        マイページ
%section.section
  .container
    .columns.is-centered
      .column.is-8
        .columns.is-centered
          .column.is-8
            %table.table.is-fullwidth
              %tr
                %td.is-size-4
                  %strong= @user.username
                - if @user.id == current_user.id
                  %td.is-size-4
                    = @user.email
                  %td
                    = link_to "編集", edit_user_path(@user), class: "button is-primary"
            %table.table.is-fullwidth
              %tr
                %td
                  = @user.profile
%section.section
  .container
    .columns.is-multiline
      - @user.jobs.each do |job|
        .column.is-4
          .card
            .card-content
              .media
                .media-content
                  %p.title.is-4= job.title
                  = link_to job_path(job), class: "panel-block" do
                    %span.panel-icon
                      %i.fas.fa-book{"aria-hidden" => "true"}
                    この求人を見る
                  - if @user.id == current_user.id
                    = link_to edit_job_path(job), class: "panel-block" do
                      %span.panel-icon
                        %i.fas.fa-edit
                      この求人を編集する
                    = button_to job_path(job), method: :delete, data: {confirm: "削除しますか？"}, class: "destroy" do
                      %span.panel-icon
                        %i.fas.fa-trash
                      この求人を削除する
              .content
                %time>= job.updated_at.strftime("%Y-%m-%d %H:%M")
                更新