%section.section
  %article.media
    .media-content
      .content.has-text-centered
        %p
          %strong.is-size-1{:style => "font-family: cursive;"} Hello
      .columns.is-centered
        .column.is-5
          -if user_signed_in? 

          -else 
            %br/
            = link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth"
            %br/
            = link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth"
%section.section
  .post__new
    新着求人6件
  .container
    .columns.is-multiline
      - @jobs.each do |job|
        .column.is-4
          .card
            .card-content
              .media
                .media-left
                .media-content
                  = link_to job_path(job) do
                    %p.title.is-4= job.title
                  = job.user.username
              .content
                %time>= job.updated_at.strftime("%Y-%m-%d %H:%M")
                更新