!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hello
    = csrf_meta_tags
    = csp_meta_tag
    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css", :integrity => "sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    - if flash[:notice]
      .notification.is-info
        %p.notice= notice
    - if flash[:alert]
      .notification.is-danger
        %p.alert= alert
    %nav.navbar.is-warning
      .navbar-brand
        = link_to root_path, class: "navbar-item" do
          %h1.title.is-4{:style => "font-family: cursive;"} Hello
        .navbar-burger.burger{"data-target" => "navbarExampleTransparentExample"}
          %span
          %span
          %span
      - if user_signed_in?
        #navbarExampleTransparentExample.navbar-menu
          .navbar-item
            = link_to "求人一覧", jobs_path, class: "navbar-item button is-warning is-light"
          .navbar-item
            = link_to "求人投稿", new_job_path, class: "navbar-item button is-warning is-light"
          .navbar-end
            .navbar-item
              .field.is-grouped
                %p.control
                  = link_to "企業、会社一覧", users_path, class: " button is-warning is-light"
                %p.control
                  = link_to "マイページ", user_path(current_user), class: "button is-warning is-light"
                %p.control
                  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light"
      - else
        #navbarExampleTransparentExample.navbar-menu
          .navbar-item
            = link_to "求人一覧", jobs_path, class: "navbar-item button is-warning is-light"
          .navbar-item
            = link_to "投稿者一覧", users_path, class: "navbar-item button is-warning is-light"
          .navbar-end
            .navbar-item
              .field.is-grouped
                %p.control
                  = link_to "ログイン", new_user_session_path, class: "button is-warning is-light"
                %p.control
                  = link_to "新規登録", new_user_registration_path, class: "button is-warning is-light"
    = yield
